# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
.build/
build/
!/docs/core/build/
bld/
[Bb]in/
[Oo]bj/

.vs/
*.meta
*.obj
*.pdb
*.tmp
*.log
.builds

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# MSBuild Binary Log
**/*.binlog

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Ignore certificates
**/*.pem
**/*.cer
**/*.crt
**/*.pfx

# Verifier test files
*.received.*
*.received/